<div class="api-wrapper">

  <div class="api-header">APIs</div>

  <div class="api-content">

    <!-- LEFT SECTION -->
    <div class="left-section">

      <div class="field">
        <label>User Id :-</label>
        <input type="text" [(ngModel)]="userId" />
      </div>

      <div class="list-buttons">
        <button (click)="fetchComments()">Comments</button>
        <button (click)="fetchAlbums()">Albums</button>
        <button (click)="fetchPhotos()">Photos</button>
        <button (click)="fetchTodos()">Todos</button>
      </div>

      <div class="action-buttons">
        <button class="dark-btn" (click)="delete()">Delete</button>
        <button class="dark-btn" (click)="update()">Update</button>
        <button class="dark-btn" (click)="create()">Create</button>
      </div>

      <div class="field">
        <label>Input Body :-</label>
        <input type="text" [(ngModel)]="inputBody" />
      </div>

    </div>

    <!-- RIGHT SECTION -->
    <div class="right-section">

      <div class="error-box">
        <strong>Error Msg</strong>
         <div>{{ errorMsg }}</div>
      </div>

<div class="response-box">
  <strong>Response Data</strong>

  <div class="response-content">
   <div *ngIf="isPhotoResponse; else normalResponse">

  <div class="photo-grid">
    <div class="photo-card" *ngFor="let photo of responseData">
      <img [src]="photo.thumbnailUrl" alt="photo" />
      <p>{{ photo.title }}</p>
    </div>
  </div>

</div>

<ng-template #normalResponse>
  <pre>{{ responseData | json }}</pre>
</ng-template>

  </div>
</div>


    </div>

  </div>
</div>
