.nav-bar {
  list-style: none;
  display: flex;
  padding: 12px;
  background-color: #dcdcdc;
  margin: 0;
}

.nav-bar li {
  margin-right: 20px;
}

.nav-bar a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.nav-bar a.active {
  text-decoration: underline;
}
